* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

header,
main {
  width: 85%;
  margin: 0 auto;
}

/* banner section */

.banner-section {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Banner\ Image.png);
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: cover;
  height: 82.5vh;
}

.banner-title {
  color: #fff;
  padding-top: 177px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.banner-caption {
  color: #fff;
  text-align: center;
  width: 632px;
  margin-top: 16px;
  margin: 0 auto;
  padding-bottom: 177px;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* discount section */

.section-1 {
  text-align: center;
}

.discount-section {
  margin-top: 120px;
  text-align: center;
}
.discount-heading {
  /* display: flex; */
  display: inline-flex;
  gap: 20px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.discount {
  text-align: center;
}

.discount-min-caption {
  margin-top: 48px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.discount-max-caption {
  color: #070211;
  margin-top: 16px;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.discount-image {
  margin-top: 48px;
}

.party-main {
  display: inline-flex;
}
.party-section {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  height: 78vh;
  border-radius: 16px;
  margin-top: 120px;
}

.party-heading {
  color: #fff;
  padding: 126px 552px 0 126px;
  font-size: 70px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.party-description {
  color: rgba(255, 255, 255, 0.8);
  padding: 24px 497px 0 126px;
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
}

.party-join {
  background: transparent;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  margin-left: 158px;
  margin-top: 40px;
  cursor: pointer;
}

.party-image {
  position: relative;
  left: 510px;
  top: -190px;
}
