* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

header,
main {
  width: 85%;
  margin: 0 auto;
}

/* banner section */

.banner-section {
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Banner\ Image.png);
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: cover;
  height: 80vh;
}

.banner-title {
  color: #fff;
  padding-top: 177px;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.banner-caption {
  color: #fff;
  text-align: center;
  width: 632px;
  margin-top: 16px;
  margin: 0 auto;
  padding-bottom: 177px;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* discount section */

.section-1 {
  text-align: center;
}

.discount-section {
  margin-top: 120px;
  text-align: center;
}
.discount-heading {
  /* display: flex; */
  display: inline-flex;
  gap: 20px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
}

.discount {
  text-align: center;
}

.discount-min-caption {
  margin-top: 48px;
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.discount-max-caption {
  color: #070211;
  margin-top: 16px;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.discount-image {
  margin-top: 48px;
}

.party-main {
  position: relative;
  display: flex;
}
.party-section {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  height: 80vh;
  border-radius: 16px;
  margin-top: 120px;
}

.party-heading {
  color: #fff;
  padding: 126px 552px 0 126px;
  font-size: 70px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.party-description {
  color: rgba(255, 255, 255, 0.8);
  padding: 24px 497px 0 126px;
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
}

.party-join {
  background: transparent;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  margin-left: 158px;
  margin-top: 40px;
  cursor: pointer;
}

.party-image {
  position: absolute;
  left: 515px;
  top: 105px;
}

/* location section */
.location {
  margin-top: 120px;
  border-radius: 16px;
  text-align: center;
  padding-top: 100px;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  font-family: Inter;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );

  height: 482px;
}

.red {
  color: #f00;
}

.red-btn {
  align-items: center;
  padding: 16px 32px;
  background-color: #f00;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: 0;
  gap: 10px;
  margin-top: 48px;
  text-transform: uppercase;
  cursor: pointer;
}

/* best offer section */
.best-offer {
  border-radius: 16px;
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
}

.offer-min-header {
  margin-top: 104px;
  color: #f00;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.offer-max-header {
  margin-top: 16px;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.offer-caption {
  margin-top: 22px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 393px;
}

.circle-image {
  width: 364.844px;
  height: 364.844px;
}

/* .new-year {
  margin-top: -20px;      
} */

.circle {
  width: 463px;
  height: 463px;
  border-radius: 463px;
  border: 15px solid #f00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-year-title {
  margin-top: 112px;
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.new-year-caption {
  margin-top: 16px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 276px;
}

.new-year > img {
  margin-top: 39px;
}

/* bonus section */
.section-6 {
  margin-top: 120px;
}
.bonus-section {
  text-align: center;
}

.black {
  color: #070211;
}

.bonus-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 28px;
  padding: 0 350px;
}

.bonus-caption {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bonus-heading {
  color: #f00;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.image-box {
  padding-top: 64px;
  margin-top: 100px;
  display: flex;
  position: relative;
}

.gift-image {
  position: absolute;
  top: -60px;
}

.discount-image-2 {
  position: relative;
  top: -50px;
  left: 60rem;
  z-index: 1;
}

.customer-image {
  position: absolute;
  right: 0;
  margin-top: -147px;
  padding-top: 25.5px;
}

.image-red {
  background: url("../images/Rectangle 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
}

/* gift section */
.section-5 {
  margin-top: 120px;
  border-radius: 16px;
  border-top: 1px solid #070211;
}

.gift-min-heading {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.gift-max-heading {
  margin-top: 16px;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.gift-caption {
  margin-top: 22px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  justify-content: space-around;
  align-items: center;
}

.gift-image-group {
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.brand-image img {
  width: 496px;
  height: 450px;
}

/* newsletter section */
.section-7 {
  margin-top: 120px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
}

.message-icon img {
  text-align: center;
  margin-top: 80px;
}

.newsletter-heading {
  margin-top: 40px;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.newsletter-caption {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 0 212px;
  margin-top: 22px;
}

.input-felid-btn {
  display: inline-flex;
  padding-top: 48px;
  margin-bottom: 80px;
}

input {
  position: relative;
  display: inline-block;
}

input[type="email"] {
  width: 438px;
  height: 72px;
  border-radius: 50px 0 0 50px;
  background: #fff;
  border: 0;
  padding: 25px;
  font-size: 18px;
  font-family: Inter;
  outline: none;
}

input[type="submit"] {
  position: relative;
  border-radius: 0 50px 50px 0;
  width: 210px;
  height: 72px;
  background: #f00;
  border: 0;
  left: -5px;
  cursor: pointer;
  color: #fff;
  padding: 24px 56px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

/* footer section */
footer {
  background: #070211;
  margin-top: 120px;
}

.footer {
  width: 85%;
  margin: 0 auto;
}

.footer-main-part-1 {
  width: 85%;
  padding: 120px 0px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.location-info {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  line-height: 40px;
  width: 370px;
  margin-left: 20px;
}

.icon span {
  font-family: Inter;

  font-weight: 500;
  font-size: 18px;
  margin-left: 10px;
}

.icon-2 {
  margin-top: 10px;
}

/* logo section */
.logo {
  display: flex;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 1px solid #fff;
}

hr {
  height: 1px;
  /* width: 85%; */
  margin: 0 auto;
  border-color: rgba(255, 255, 255, 0.15);
  margin-top: -50px;
}

.last-once {
  color: #fff;
  display: flex;
  justify-content: space-between;
  /* width: 85%; */
  margin: 0 auto;
  margin-top: 50px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 120px;
}

.hr2 {
  margin-top: 48px;
}

.unsubscribe button {
  background: 0;
  border: 0;
  color: #fff;
  font-size: 24px;
  text-transform: capitalize;
}

.unsubscribe button:hover {
  color: #f00;
  cursor: pointer;
}
